<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://developer.garmin.com/downloads/connect-iq/resources.xsd">

    <setting propertyKey="@Properties.Accent" title="@Strings.setting_accent">
        <settingConfig type="list">
            <listEntry value="0">@Strings.accent_sky</listEntry>
            <listEntry value="1">@Strings.accent_mint</listEntry>
            <listEntry value="2">@Strings.accent_autumn</listEntry>
            <listEntry value="3">@Strings.accent_violet</listEntry>
            <listEntry value="4">@Strings.accent_pink</listEntry>
            <listEntry value="5">@Strings.accent_winter</listEntry>
            <listEntry value="6">@Strings.accent_cyan</listEntry>
            <listEntry value="7">@Strings.accent_lime</listEntry>
            <listEntry value="8">@Strings.accent_magenta</listEntry>
        </settingConfig>
    </setting>
</settings>
